.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

.all-products-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 100%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
}

.products-header-container {
  width: 100%;
}

.filter-and-product-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .filter-and-product-container {
    flex-direction: row;
  }
}

.filters-group-container {
  width: 280px;
  margin: 0px 20px 0px 0px;
}

.no-products-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
